{% extends 'layout.html'%}
{% block content%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/customer"><b>Veg Mart</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('getCart')}}" tabindex="-1">Cart({{session['Shoppingcart']|length}})</a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary float-right mt-3" data-toggle="modal" data-target="#staticBackdrop">
            Sign Out
          </button>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Sign Out</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure? If you sign out, Your cart will be cleared! </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="{{url_for('logout')}}" class="btn btn-primary">Sign Out</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price:₹ {{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page',id=product.id)}}" class="float-left btn btn-primary">Buy Now</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock content%}