{% extends 'layout.html'%}
{% block content%}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/customer"><b>Veg Mart</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('getCart')}}" tabindex="-1">Cart({{session['Shoppingcart']|length}})</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center">Price:₹ {{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page',id=product.id)}}" class="float-left btn btn-sm btn-primary">Buy Now</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}