{%extends "layout.html" %}
{% block content %}

{% include '_messages.html'%}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/addproduct">Add Product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/orders">Orders <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
</div>
<div class="container mt-4">
    <table class="table table-sm table-condensed">
        <thead>
            <th>Sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Image</th>
            <th>Update</th>
        </thead>
        <tbody>
            {%for i in products%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{i.name}}</td>
                <td>{{i.price}}</td>
                <td>{{i.stock}}</td>
                <td><img src="{{url_for('static',filename='images/' + i.image_1)}}" width="50" height="40"></td>
                <td>
                  <a href="{{url_for('updateproduct',id=i.id)}}" class="btn btn-sm btn-info">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}